.cart-title {
  color: white;
  text-align: center;
}

.cart-item-cards{
  display: flex;
  flex-direction: column;
}

.product-card-item {
  height: 180px;
  background-color: var(--background-color);
  box-shadow: rgba(6, 0, 0, 0.672) 0px 5px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 0 10px 10px 0;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.btn1,
.btn2,
.btn3 {
  width: 150px;
  background-color: var(--background-color);
  border: none;
  font-size: 15px;
}

.btn1 {
  border: 1px solid green;
  color: green;
}

.btn2 {
  border: 1px solid red;
  color: red;
}

.btn3 {
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.card-item-details {
  color: white;
  font-size: 18px;
}

.card-item-details p {
  margin-top: -20px;
}

.cart-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
 text-align: left;
}

.price-percentage {
  color: #008000;
}

.actual-price {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  display: inline;
  color: rgb(203, 60, 60);
}
/* increment and decrement */
fieldset {
  margin-bottom: 14px;
  padding-bottom: 14px;
}
fieldset,
.incr-btn {
  border: 0;
}
.incr-btn {
  background-color: var(--background-color);
  color: #fff;
  cursor: pointer;
  width: 24px;
  height: 26px;
  border: 1px solid black;
}
.incr-txt {
  border: 1px solid #f4f3f3;
  height: 21px;
  width: 50px;
  text-align: center;
}

.brand-title {
  margin-top: -25px;
}

@media only screen and (max-width: 1024px) {
  .product-card-item {
    width: 95%;
    margin: 0 auto 10px auto;
  }
}

@media only screen and (max-width: 768px) {
  .product-card-item {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .product-card-item {
    width: 80%;
  }

  .product-card-item {
    flex-direction: column;
    height: 500px;
  }

  .card-item-details {
    font-size: 15px;
    height: 12px;
    text-align: center;
  }

  .cart-price {
    justify-content: center;
  }

  .card-bottom {
    margin-top: 170px;
  }
}


@media only screen and (max-width: 320px) {
 

  .product-card-item {
    flex-direction: column;
    height: 500px;
  }

  .card-bottom {
    margin-top: 200px;
  }
}
