.home-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  margin: auto;
  gap: 100px;
}

.home-wrapper img {
  object-fit: cover;
  align-self: flex-start;
  justify-self: flex-start;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.category-item {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.category-item img {
  width: 250px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .home-wrapper img {
    width: 100%;
    height: auto;
  }

  .category-item img {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .category-item img {
    width: 150px;
  }

  .category-item h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
    .category-container {
        gap: 40px;
        align-items: center;
    justify-content: center;
    width: 100%;
      }
  .category-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin-top: -50px;
    width: 100%;
  }

  .category-item img {
    width: 150px;
  }
}
