.nav-main {
  display: flex;
  height: 7vh;
  margin: auto;
  background-color: #202224;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
  width: auto;
}

.nav-main input {
  width: 75vw;
  height: 12px;
  background-color: #2a2a2a;
  border-radius: 20px;
  border: none;
  margin-left: 30px;
  padding: 10px;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  /* width: 200px; */
  margin-top: 10px;
}

.nav-main img{
  width: 100px;
}

@media only screen and (max-width: 1024px) {
  .nav-main img{
    width: 55%;
    height: auto;
  }
  .nav-main input {
    width: 65vw;
  }
}

@media only screen and (max-width: 768px) {
  .nav-main img{
    width: 75%;
    height: auto;
  }
  .nav-main {
    width: auto;
  }

  .nav-main input {
    width: 60vw;
  }
}

@media only screen and (max-width: 425px) {
  .icons {
    gap: 9px;
  }

  .nav-main {
    justify-content: center;
  }

  .nav-main input {
    width: 32vw;
    margin-right: 40px;
  }

  .nav-main img{
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .nav-main {
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .icons {
    /* margin-right: 25px; */
    gap: 3px;
  }

  .nav-main img{
    width: 400%;
    height: auto;
    margin-left: -20px;
  }
}
