.nav-main{
    display: flex;
    height: 50px;
    width: 60vw;
    margin: auto;
    background-color: #202224;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding: 10px;
}

.nav-main input {
    width: 20vw;
    height: 10px;
    background-color: #2A2A2A;
    border-radius: 20px;
    border: none;
    margin-left: 30px;
    padding: 10px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    width: 200px;
    border-right: 2px solid black;
    
}

.profile-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.profile-icon button{
    margin: 20px 20px;
    color: #3ad866;
    background-color: var(--secondary-color);
    height: 30px;
    justify-self: center;
    width: 180px;
    border-radius: 20px;
    border: 1px solid #3ad866;
}
