.product-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  text-align: center;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.product-card-main {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -1px 50px 33px -32px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 50px 33px -32px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 50px 33px -32px rgba(0,0,0,0.75);
}

.product-card-main:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.product-card {
  flex-basis: 75%;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 20px;
  row-gap: 50px;
}

.wishlist-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.price-title {
  font-size: 25px;
  color: var(--tertiary-color);
}

.cart-btn {
  height: 30px;
  width: 150px;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 20px;

}

.product-card-icons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.wishlist-txt{
  color: white;
}