.product-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  text-align: center;
  flex-wrap: wrap;
}

.product-card-main {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(6, 0, 0, 0.672) 0px 5px 15px;
  flex-wrap: wrap;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
  transform: scale(1);
}

.product-card-main:hover {
  transform: scale(1.1);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.product-item-card,
.wishlist-item-card {
  flex-basis: 75%;
  display: grid;
  gap: 20px;
  row-gap: 50px;
  text-align: center;
}

.product-item-card {
  grid-template-columns: 1fr 1fr 1fr;
}

.wishlist-item-card {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.disc-price,
.product-card {
  font-size: 25px;
  color: var(--tertiary-color);
}

.cart-btn {
  height: 30px;
  width: 150px;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 20px;
}

.product-card-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.wishlist-txt {
  color: white;
}

.product-rating {
  font-size: 27px;
}

.product-rating img {
  margin-right: 10px;
}

.no-products-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 75%;
}

.mobile-menu {
  display: none;
  
}

.web-menu {
  display: flex;
  position: sticky;
  top: 0;
}


@media only screen and (max-width: 1024px) {
  .wishlist-item-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-item-card {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-basis: 65%;
  }

}

@media only screen and (max-width: 768px) {
  .wishlist-item-card {
    grid-template-columns: 1fr 1fr;
  }

  .product-main {
    justify-content: center;
    align-items: center;
  }

  .product-item-card {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .mobile-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .web-menu {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .wishlist-item-card {
    grid-template-columns: 1fr;
  }

  .product-item-card {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
