/* CSS code */
body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 80%;
  padding: 20px;
  color: #c0c0c1;
  height: 90vh;
}

section .layout {
  position: relative;
  width: 100%;
  /* width: 1000px; */
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  height: auto;
  box-shadow: -5px 72px 49px -52px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 72px 49px -52px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 72px 49px -52px rgba(0, 0, 0, 0.75);
}

/* .layout img{
  height:400px
} */

.item-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
}

.brand-title{
  margin-top:-20px ;
  color: #8e8e8e;
}

.price {
  color: var(--tertiary-color);
  font-size: 30px;
  font-weight: 900;
}

.utils-btn{
    display: flex;
    gap: 20px;
}
.cart-btn, .return-btn {
  height: 40px;
  justify-self: center;
  width: 180px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}

.cart-btn{
    background-color: #3ad866;
}

.return-btn{
    background-color: var(--tertiary-color);

}
