.profile-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-wrapper {
  width: 30%;
  background-color: var(--secondary-color);
  margin: auto;
  color: white;
  margin-top: 100px;
  box-shadow: rgba(6, 0, 0, 0.672) 0px 5px 15px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.profile-header h3:hover {
cursor: pointer;
}

.profile-body {
  background-color: var(--secondary-color);
  width: 29vw;
  min-height: 150px;
  height: auto;
  color: white;
  text-align: center;
}

.logout-btn {
  height: 30px;
  width: 100px;
  font-size: 15px;
  color: rgb(205, 0, 0);
  background-color: var(--secondary-color);
  border: 2px solid rgb(205, 0, 0);
}

.user-address-wrapper {
  padding: 10px;
}

.user-address-details {
  border-bottom: 1px solid white;
}

.user-address-details p {
  margin-top: -15px;
}

.add-address-btn,
.dlt-address-btn,
.edit-address-btn,
.close-address-btn {
  height: 30px;
  width: 130px;
  margin: 15px 10px;
  border: none;
  font-size: 18px;
  color: white;
}

.add-address-btn {
  background-color: #149253;
}

.dlt-address-btn{
    background-color:#BF4342;
}

.edit-address-btn{
    background-color:#e79a20;
    color: black;
}

.close-address-btn{
  background-color:#BF4342;
}

.order-Details-header{
  width: 410px;
}

.list-group-item{
  text-align: center;
  width: 35%;
}
.active{
 background-color: #149253;
  height: 100%;
  width: 35%;
  text-align: center;
}

@media only screen and (max-width: 1024px){
  .profile-wrapper {
    width: 40%;
  }
  .profile-body {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
  }
}

@media only screen and (max-width: 768px){
  .profile-wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 425px){
  .profile-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 375px){
  .profile-wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 320px){
  .profile-header{
    gap: 20px;
    padding: 10px;
    text-align: center;
  }
}