.profile-container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-detail-main{
    background-color: var(--secondary-color);
    width: 30vw;
    height: 40vh;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.logout-btn{
    height: 30px;
    width: 100px;
    font-size: 15px;
    color: rgb(205, 0, 0);
    background-color: var(--secondary-color);
    border: 2px solid rgb(205, 0, 0);
    border-radius: 20px;
}