:root {
  --primary-color: #a855f7;
  --secondary-color: #202224;
  --tertiary-color: #E9D002;
  --original-price-color: red;
  --discounted-price-color: green;
  --star-color: yellow;
}

button {
  cursor: pointer;
}