:root {
  --primary-color: #a855f7;
  --secondary-color: #202224;
  --tertiary-color: #E9D002;
  --background-color: #2A2A2A;;
  --discounted-price-color: green;
  --star-color: yellow;
}

button {
  cursor: pointer;
}