:root {
  --primary-color: #a855f7;
  --secondary-color: #202224;
  --tertiary-color: #e9d002;
  --background-color: #2a2a2a;
  --discounted-price-color: green;
  --star-color: yellow;
}

button {
  cursor: pointer;
  border-radius: 20px;
}

.main-container {
  height: 100vh;
  overflow: auto;
}
